/* FONTS */
@font-face {
    font-family: 'Azo Sans';
    src: url(../../global/fonts/azo-sans-regular.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Medium ';
    src: url(../../global/fonts/Futura\ PT\ Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(../../global/fonts/futura-pt-book.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Light';
    src: url(../../global/fonts/futura-pt-light.otf) format("opentype");
}


/* SCREEN BAR */


/* NAVBAR */
.navbar_viewer {
    padding: 15px 14px 5px 40px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/top-bar.png);
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}

/* LEFT PART */
.navbar_viewer .LEFT {
    gap: 20px;
    display: flex;
}


/* BOUTON HOME */
.navbar_viewer .home_button button {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--Primary-1, #6100FF);
    border: none;
}


/* BOUTON BACK */
.navbar_viewer .back_button button{
    display: flex;
    width: 161px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    background: var(--Primary-1, #6100FF);
    border: none;
}

.navbar_viewer .back_button button h5 {
    color: var(--Secondary-2, #FCFCFC);
    font-family: 'Azo Sans';
    font-size: 20px;
    margin-top: 12px;
    line-height: normal;
}

/* MIDDLE PART */

.navbar_viewer .MIDDLE {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODEL NAME */
.navbar_viewer .model_name {
    color: var(--Secondary-4, #0F0F0F);
    font-family: Azo Sans;
    font-size: 30px;
    margin-top: 6px;
    line-height: normal;
}


/* RIGHT PART */
.navbar_viewer .RIGHT {
    gap: 20px;
    display: flex;
}

/* CONNECTED USERS */
.navbar_viewer .connected_users {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* SHARE BUTTON */
.navbar_viewer .share_button button{
    display: flex;
    padding: 13px 31.002px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 24.22px;
    background: var(--Primary-1, #6100FF);
    border: none;
}

.navbar_viewer .share_button button h5 {
    color: var(--Secondary-2, #FCFCFC);
    font-family: 'Azo Sans';
    font-size: 20px;
    margin-top: 12px;
    line-height: normal;
}


/* PROFIL */
.navbar_viewer .profil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 46px;
}