/* PANNEL */
.slider_part {
    display: flex;
    justify-content: right;
    z-index: 1;
    position: relative;
    padding: 20px;
}

.slider_part .slider_elements {
    display: flex;
    width: 349px;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FCFCFC;
    border-radius: 20px;
}

.slider_part .top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.slider_part .top .left_function {
    margin: 0%;
}

.slider_part .top .right_function_2 {
    margin: 0%;
}


/* SETTINGS SLIDER */
.slider_part .settings_pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider_part .settings_pannel .line1 {
    width: 329px;
    height: 1px;
    background: rgba(148, 148, 148, 0.50);
}



/* SLIDERS STYLE */
.settings_pannel .slider {
    width: 75%;
    height: 15px;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.settings_pannel .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.settings_pannel .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}