/* FONTS */
@font-face {
    font-family: 'Azo Sans';
    src: url(../../global/fonts/azo-sans-regular.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Medium ';
    src: url(../../global/fonts/Futura\ PT\ Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(../../global/fonts/futura-pt-book.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Light';
    src: url(../../global/fonts/futura-pt-light.otf) format("opentype");
}

/* NAVBAR */
.navbar_viewer {
    padding: 40px 14px 14px 40px;
    display: flex;
}

/* BAR */


/* BOUTON HOME et BACK*/
.navbar_viewer .home_back_button {
    gap: 20px;
    display: flex;
}


/* BOUTON HOME */
.navbar_viewer .home_button {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background: var(--Primary-1, #6100FF);
    box-shadow: 0px 10px 4px 0px rgba(218, 220, 245, 0.30);
}


/* BOUTON BACK */
.navbar_viewer .back_button {
    display: flex;
    width: 161px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    background: var(--Primary-1, #6100FF);
}

.navbar_viewer .back_button h5 {
    color: var(--Secondary-2, #FCFCFC);
    font-family: 'Azo Sans';
    font-size: 20px;
    margin-top: 12px;
    line-height: normal;
}


/* MODEL NAME */
.navbar_viewer h2 {
    color: var(--Secondary-4, #0F0F0F);
    font-family: Azo Sans;
    font-size: 30px;
    line-height: normal;
    text-align: center;
}