/* FONTS */
@font-face {
    font-family: 'Azo Sans';
    src: url(../../global/fonts/azo-sans-regular.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Medium ';
    src: url(../../global/fonts/Futura\ PT\ Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(../../global/fonts/futura-pt-book.otf) format("opentype");
}

@font-face {
    font-family: 'Futura PT Light';
    src: url(../../global/fonts/futura-pt-light.otf) format("opentype");
}

/* NAVBAR */
/* .navbar_viewer{
    margin-left: 40px;
    margin-right: 40px;
} */

/* BAR */

/* BOUTON HOME et BACK*/
.home_back_button {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

/* BOUTON HOME */
.home_button {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background: var(--Primary-1, #6100FF);
    box-shadow: 0px 4px 100px 0px rgba(218, 220, 245, 0.30);
}

.home_button #home {
    fill: var(--Secondary-2, #FCFCFC);
    stroke-width: 0.25px;
    stroke: var(--Secondary-2, #FCFCFC);
}

/* BOUTON BACK */
.back_button {
    display: flex;
    width: 161px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    background: var(--Primary-1, #6100FF);
}

.back_button h5 {
    color: var(--Secondary-2, #FCFCFC);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: 'Azo Sans';
    font-size: 20px;
    margin-top: 12px;
    line-height: normal;
}

.back_button #arrow_back {
    fill: var(--Secondary-2, #FCFCFC);
    stroke-width: 0.2px;
    stroke: var(--Secondary-2, #FCFCFC);
}